streamlit
python-dotenv
PyPDF2
langchain==0.3.14
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
chromadb
sentence-transformers
pytesseract
pdf2image
Pillow